@import "./variables";

.catalog {
  &-link {
    display: block;
    margin-bottom: 30px;
  }

  &-item {
    background-color: $bg-catalog-item;
    max-width: 100%;
    height: 150px;
    padding: 10px;
    transition: all 0.3s ease;

    &:hover {
      background-color: lighten($bg-catalog-item, 20%);
    }
  }

  &-caption {
    color: $c-white;
    position: relative;
    text-align: center;
    transition-duration: 0.7s;
    transform: translate(0, -50%);
    text-shadow: $text-shadow;
    top: 50%;
  }
}

.oborudovanie {
  background: url("../img/catalog/oborudovanie.jpg") no-repeat;
}

.instrument {
  background: url("../img/catalog/instrum.jpg") no-repeat;
}

.electromaterialy {
  background: url("../img/catalog/electrotovary.jpg") no-repeat;
}

.lamps {
  background: url("../img/catalog/lamp.jpg") no-repeat;
}

.hoz-tovary {
  background: url("../img/catalog/hoz-tovary.jpg") no-repeat;
}

.metall {
  background: url("../img/catalog/metall.jpg") no-repeat;
}

.remont {
  background: url("../img/catalog/stroy-materialy.png") no-repeat;
}

.metizy {
  background: url("../img/catalog/metizy.jpg") no-repeat;
}

.smazochnie {
  background: url("../img/catalog/smazyv.jpg") no-repeat;
}
